<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/style-general.css">
    <link rel="stylesheet" href="styles/style-inicioSesion.css"/>
    <title>Inicia Sesion</title>
</head>
<body>

    <header>
        <div class="parteSuperior">
            <a class="nombreWeb" href="panelNoticias.html">Panel de Noticias</a>
            <a class="registro" href="registro.html">Registrarse</a>
            <a class="inicioSesion" href="inicioSesion.html">Iniciar Sesion</a>
            <a class="cerrarSesion" href="#">Cerrar Sesion</a>
        </div>
    </header>
    <br>

    
    <form class="formulario">
        <h2 class="titulo-login">INICIO SESION</h2>
        <input class="formulario_input" type="email" placeholder="Email">
        <input class="formulario_input" type="password" placeholder="Contraseña">
        <a class="boton-inicio-sesion" href="panelNoticias.html">Iniciar Sesion</a>
    </form>

    <script src="scripts/cierreSesion.js"></script>
</body>
</html>