<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/style-general.css">
    <link rel="stylesheet" href="styles/style-registro.css"/>
    <title>Registro</title>
</head>
<body>

    <header>
        <div class="parteSuperior">
            <a class="nombreWeb" href="panelNoticias.html">Panel de Noticias</a>
            <a class="registro" href="registro.html">Registrarse</a>
            <a class="inicioSesion" href="inicioSesion.html">Iniciar Sesion</a>
            <a class="cerrarSesion" href="#">Cerrar Sesion</a>
        </div>
    </header>
    <br>

    <form class="form-registro">
        <h2 id="titulo-reg">REGISTRATE AHORA</h2>
        <div>
            <label>Nombre</label>
            <input class="input-reg" type="text" placeholder="Nombre">
        </div>

        <div>
            <label>DNI</label>
            <input  class="input-reg" type="text" placeholder= "DNI"> 
        </div>

        <div>
            <label>Email</label>
            <input class="input-reg" type="text" placeholder="Email">
        </div>

        <div>
            <label>Contraseña</label>
            <input class="input-reg" type="password" placeholder="Contraseña">
        </div>

        <div>
            <label>Confirmar contraseña</label>
            <input class="input-reg" type="password" placeholder="Confirmar Contraseña">
        </div>

        <div>
            <label>
                <input type="checkbox" class="checkbox">
                Acepto los términos y condiciones
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" class="checkbox">
                Quiero recibir novedades por email
            </label>
        </div>

        <a class="boton-inicio-sesion" href="panelNoticias.html">Registrarse</a>

    </form>

    <script src="scripts/cierreSesion.js"></script>
</body>
</html>
