<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/style-general.css">
    <link rel="stylesheet" href="styles/style-inicioSesion.css"/>
    <title>Inicia Sesión</title>
</head>
<body>

    <header>
        <div class="parteSuperior">
            <a class="nombreWeb" href="panelNoticias.html">Panel de Noticias</a>
            <a class="registro" href="registro.html">Registrarse</a>
            <a class="inicioSesion" href="inicioSesion.html">Iniciar Sesión</a>
            <a class="cerrarSesion" href="#">Cerrar Sesión</a>
        </div>
    </header>
    <br>

    <form class="formulario" action="panelNoticias.html" method="GET" onsubmit="return validarFormulario()">
        <h2 class="titulo-login">INICIO SESIÓN</h2>
        <input class="formulario_input" type="email" placeholder="Email" name="email" required>
        <input class="formulario_input" type="password" placeholder="Contraseña" name="password" required>
        <button class="boton-inicio-sesion" type="submit">Iniciar Sesión</button>
    </form>

    <script src="scripts/cierreSesion.js"></script>
    <script>
        function validarFormulario() {
            const email = document.querySelector('input[name="email"]').value.trim();
            const password = document.querySelector('input[name="password"]').value.trim();
            
            if (!email || !password) {
                alert("Por favor, complete todos los campos.");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
