<!DOCTYPE html>
<html>
<head>
    <title>Panel de Noticias</title>
    <link rel="stylesheet" href="styles/style-general.css"/>
    <link rel="stylesheet" href="styles/style-panelNoticias.css"/>
</head>
<body>
    <header>
        <div class="parteSuperior">
            <a class="nombreWeb" href="panelNoticias.html">Panel de Noticias</a>
            <a class="registro" href="registro.html">Registrarse</a>
            <a class="inicioSesion" href="inicioSesion.html">Iniciar Sesion</a>
            <a class="cerrarSesion" href="#">Cerrar Sesion</a>
            
            <input type="text" id="buscador" placeholder="Buscar por tema"/>
        </div>
    </header>
    <br>

    <section id="noticias">
        <div id="contenedor-noticias"></div>
    </section>

    <script src="scripts/cargarNoticias.js"></script>
    <script src="scripts/filtrarNoticias.js"></script>
    <script src="scripts/mostrarNoticiasEnPanel.js"></script>
    <script src="scripts/cierreSesion.js"></script>
</body>
</html>
