<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/style-general.css">
    <link rel="stylesheet" href="styles/style-registro.css"/>
    <title>Registro</title>
</head>
<body>

    <header>
        <div class="parteSuperior">
            <a class="nombreWeb" href="panelNoticias.html">Panel de Noticias</a>
            <a class="registro" href="registro.html">Registrarse</a>
            <a class="inicioSesion" href="inicioSesion.html">Iniciar Sesión</a>
            <a class="cerrarSesion" href="#">Cerrar Sesión</a>
        </div>
    </header>
    <br>

    <form class="form-registro" action="panelNoticias.html" method="GET" onsubmit="return validarRegistro()">
        <h2 id="titulo-reg">REGISTRATE AHORA</h2>

        <div>
            <label>Nombre</label>
            <input class="input-reg" type="text" name="nombre" placeholder="Nombre" required>
        </div>

        <div>
            <label>DNI</label>
            <input class="input-reg" type="text" name="dni" placeholder="DNI" required>
        </div>

        <div>
            <label>Email</label>
            <input class="input-reg" type="email" name="email" placeholder="Email" required>
        </div>

        <div>
            <label>Contraseña</label>
            <input class="input-reg" type="password" name="password" placeholder="Contraseña" required>
        </div>

        <div>
            <label>Confirmar contraseña</label>
            <input class="input-reg" type="password" name="confirmPassword" placeholder="Confirmar Contraseña" required>
        </div>

        <div>
            <label>
                <input type="checkbox" class="checkbox" id="terminos" required>
                Acepto los términos y condiciones
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" class="checkbox">
                Quiero recibir novedades por email
            </label>
        </div>

        <button class="boton-inicio-sesion" type="submit">Registrarse</button>
    </form>

    <script src="scripts/cierreSesion.js"></script>
    <script src="scripts/validarFormulario.js"></script>
</body>
</html>
