<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Registro</title>
</head>
<body>
    <form class="form-registro">
        <h2>REGISTRATE AHORA</h2>
        <div>
            <label>Nombre</label>
            <input class="input-reg" type="text" placeholder="Nombre">
        </div>

        <div>
            <label>DNI</label>
            <input  class="input-reg" type="text" placeholder= "DNI"> 
        </div>

        <div>
            <label>Email</label>
            <input class="input-reg" type="text" placeholder="Email">
        </div>

        <div>
            <label>Contraseña</label>
            <input class="input-reg" type="password" placeholder="Contraseña">
        </div>

        <div>
            <label>Confirmar contraseña</label>
            <input class="input-reg" type="password" placeholder="Contraseña">
        </div>

        <div>
            <label>
                <input type="checkbox" class="checkbox">
                Acepto los términos y condiciones
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" class="checkbox">
                Quiero recibir novedades por email
            </label>
        </div>

        <a class="boton-inicio-sesion" href="panelNoticias.html">Registrarse</a>

    </form>
</body>
</html>
