#contenedor-noticias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

textarea {
    resize: none;
    display: block;
    width: 40%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1em;
    text-align: center
}

#panel {
    text-align: center;
    color: white;
}

.form-section {
    margin-top: 60px;
    place-items: center;
}

#direccion{
    margin-top: 20px;
    max-width: 25%;
    height: 150px;
    text-align: left;
    
}
#recibir-direccion{
    max-width: 25%;
    text-align: left; 
    height: 300px;  
}

.enviar-direccion {
    margin-bottom: 10px;
}

.titulo {
    display: block;
    width: 40%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1em;
    text-align: center;
}

input {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: red;
    border-color: white;
}

button:hover {
    opacity: 70%;
    cursor: pointer;
}

.volver {
    display: block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

.volver:hover {
    color: red;
}

.eliminar-btn {
    cursor: pointer;
    width: 100px;
    place-self: center;
}

#subirImagen-button {
    margin-bottom: 10px;
    margin-left: 80px;
}

section h2 {
    text-align: center;
    color: white;
}

#imageInput {
    color: white;
}

#contenedor-noticias .noticia:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 16px red;
}